{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1440">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Главная</title>
</head>
<body>
    <div class="main">
        <div class="container">
            <header>
                <div class="logo">
                    <img src="{% static 'img/logo.png' %}" width="64" height="64" alt="Логотип">
                </div>
                <div class="exit">
                    <a href="">Выйти</a>
                    <img src="{% static 'img/exit.svg' %}" alt="">
                </div>
            </header>
        </div>
    
        <div class="container">
            
        </div>
    </div>
    <div class="splash">
        <img src="{% static 'img/logo.png' %}" alt="Логотип">
    </div>
    <script>
        const token = localStorage.getItem('token');
    
        if (token) {
            document.querySelector('.main').style.display = 'block';
            document.querySelector('.splash').style.display = 'none';
        } else {
            window.location.href = '/login/';
        }
    </script>
    
</body>
</html>