{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1440">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Авторизация</title>
</head>
<body>
    <section style="display: flex; height: 100vh;">
        <div style="margin: auto;">
            <h1 style="font-size: 32px; font-weight: 600; color: #A8EB75; margin-bottom: 60px; text-align: center;">Авторизация</h1>
            <div class="form__input" style="width: 443px;">
                <input type="text" id="username" placeholder="Логин">
            </div>
            <div class="form__input" style="width: 443px;">
                <input type="password" id="password" placeholder="Пароль">
            </div>
            <button class="auth__button" type="button">Войти</button>
        </div>
    </section>
</body>
</html>