{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1440">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Авторизация</title>
</head>
<body>
    <section style="display: flex; height: 100vh;">
        <div style="margin: auto;">
            <h1 style="font-size: 32px; font-weight: 600; color: #A8EB75; margin-bottom: 60px; text-align: center;">Авторизация</h1>
            <div class="form__input" style="width: 443px;">
                <input type="text" id="username" placeholder="Логин">
            </div>
            <div class="form__input" style="width: 443px;">
                <input type="password" id="password" placeholder="Пароль">
            </div>
            <button class="auth__button" type="button" onclick="login()">Войти</button>
        </div>
    </section>

    <script>
        function login() {
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            fetch('/api/login/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    username: username,
                    password: password
                }),
            })
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                } else if (response.status === 403) {
                    throw new Error("Invalid login or password");
                } else {
                    throw new Error("An error occurred");
                }
            })
            .then(data => {
                console.log("Login successful:", data);
                localStorage.setItem("token", data["access_token"])
                window.location.href = '/';
            })
            .catch(error => {
                console.error("Login failed:", error);
                alert(error.message);
            });
        }
    </script>
</body>
</html>
